.page-wrap {
  margin: auto;
}

body {
  background-color: #d95d39;
  text-align: center;
}

.nav {
  width: 750px;
  margin: 0 auto;
  list-style: none;
}
.nav li {
  float: left;
}
.nav a {
  display: block;
  text-align: center;
  width: 150px; /* fixed width */
  text-decoration: none;
}

.title {
  background-color: #202c59;
  color: #ffffff;
  font-size: 65px;
  margin-top: 50px;
}
